.main {
    display: flex;
    position: relative;
}

.box {
    position: absolute;
    top: 160px;
    left: -15%;
}

.left {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: -180px;
    left: -110%;
    right: 40px;
}

.bg img {
    width: 100%;
}

.woman-online {
    position: absolute;
    top: 70px;
    left: -20%;
}

.woman-online img {
    width: 90%;
}

.right {
    margin: 4rem;
    width: 50%;
}

.right h2 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}

.faq {
    cursor: pointer;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active .question {
    font-weight: 700;
}

.faq.active svg {
    transform: rotate(180deg);
}

.question {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.question:hover {
    color: hsl(14, 88%, 65%);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
    font-size: 12px;
}

.answer p {
    padding-top: 0.5rem;
    line-height: 1.6;
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity:0;
        transform: translateY(-10px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}